atomicwrites==1.1.5
attrs==18.1.0
certifi==2018.4.16
chardet==3.0.4
cssselect==1.0.3
fake-useragent==0.1.10
idna==2.7
lxml==4.9.1
mock==2.0.0
more-itertools==4.2.0
numpy==1.14.5
parse==1.8.4
pbr==4.1.1
pluggy==0.6.0
polling==0.3.0
py==1.5.4
pyquery==1.4.0
pytest==3.6.3
python-http-client==3.1.0
requests==2.19.1
requests-xml==0.2.3
sendgrid==5.4.1
six==1.11.0
untangle==1.1.1
urllib3==1.23
w3lib==1.19.0
xmljson==0.1.9
